PORT = 6767
DB_URI = "your_mongodb_connection_uri"
CLIENT_URL = "http://localhost:8080"

JWT_SECRET = "your_jwt_secret"
JWT_EXPIRES_IN = "30d"

RENDER_URL = "https://<your-app>.onrender.com/api/v1"

RESEND_API_KEY = "re_your_api_key"
FROM_EMAIL = "onboarding@resend.dev"

CLOUDINARY_CLOUD_NAME = "your_cloud_name"
CLOUDINARY_API_KEY = "your_api_key"
CLOUDINARY_API_SECRET = "your_api_secret"
