PORT = 6767
DB_URI = "your_mongodb_connection_uri"
CLIENT_URL = "http://localhost:8080"

EMAIL = "your_email@example.com"
APP_PASSWORD = "your_app_password"

JWT_SECRET = "your_jwt_secret"
JWT_EXPIRES_IN = "30d"

RENDER_URL = "https://<your-app>.onrender.com/api/v1"
